/* HEADER */
.navbar {
    height: 100px;
}

header img {
    height: 60px;
}

header h1 {
    flex-grow: 1;
}

/* FORM */

select {
    cursor: pointer;
}

form {
    justify-content: end;
    align-items: center;
}

/* BODY */
body {
    background-color: #7FFFD4;
}

/* SCOREBOARD */
#scoreboard {
    width: 100%;
    justify-content: center;
}

#score {
    flex-basis: 25%;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: black;
    border: 3px solid white;
    border-radius: 40px;
}

/* GRID */
#grid {
    height: 800px;
    width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border: 5px solid black;
}

.cell {
    border: 2px solid black;
    cursor: pointer;
}

.cell.easy {
    height: calc(100% / 10);
    flex-basis: calc(100% / 10);  
}

.cell.medium {
    height: calc(100% / 9);
    flex-basis: calc(100% / 9);
}

.cell.hard {
    height: calc(100% / 7);
    flex-basis: calc(100% / 7);
}

.cell.bomb {
    color: white;
    background-color: red;
    border: 5px solid rgb(255, 206, 73);
}

div .cell.easy,
div .cell.medium,
div .cell.hard,
div .cell.bomb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.clicked {
    background-color: rgb(138, 237, 255);
}